<nav class="navbar navbar-expend-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="=nav-link">Employee List</a>
            <a routerLink="create-employee" routerLinkActive="active" class="=nav-link">Add List</a>
        </li>
    </ul>
</nav>
<h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet> </router-outlet>

</div>
<footer class="footer">
    <div class="container">
        <span>angular spring boot crud mouhamed ahed 2022</span>
    </div>
</footer>